* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/*******************************************************************************/
/* fonts */
* {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
}
/*******************************************************************************/
/* links */
a {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

.contact {
  color: rgb(167, 164, 164);
}

/*******************************************************************************/
/* layout */

.header {
  padding: 20px 30px 60px 30px;
  text-align: center;
  background-color: rgb(109, 105, 105);
}

.main {
  padding: 40px 30px 20px 30px;
  max-width: 800px;
  margin: 0 auto;
}
