* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  font-family: "Raleway", sans-serif;
  font-family: inherit;
  font-size: 16px;
}

body {
  margin: 0px;
  position: relative;
  /*********************************************************************************************************************/
  /***********************************custom-propertie-start***************************************/
  /*********************************************************************************************************************/
  --page-background-color: white;
  --page-text-color: black;
  --selection-color: var(--header-medium);

  /******header-background************/
  --header-dark: #525e69;
  --header-medium: #778899;
  --header-light: #98abbe;

  /******footer-background************/
  --footer-dark: var(--header-medium);
  --footer-medium: var(--header-light);
  --footer-light: #cfdae4;

  /******Name************/
  --name-dark: rgb(0, 0, 0);
  --name-medium: #252525;
  --name-light: #5f5e5e;

  /******hire-me************/
  --hire-background-: var(--header-medium);
  --hire-nav-color: whitesmoke;

  /******Standart************/
  background-color: var(--background-color);
  color: var(--text-color);

  /******border-article************/
  --article-border: #98abbe;

  /******contact-links************/
  --a-active: #ffffff;
  --a-link: var(--header-medium);
  --a-contact: black;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}

header a:hover {
  --header-hover: #ffffff1a;
  --header-hover-text: var(--header-dark);
}

a:hover,
a:visited {
  color: var(--a-contact);
}

a:link {
  color: var(--a-link);
}

a:active {
  color: var(--a-visited);
}
/*********************************************************************************************************************/
/***********************************custom-propertie-end***************************************/
/*********************************************************************************************************************/

/*******************************************************************************/
/* mark */
::selection {
  background-color: var(--selection-color);
  color: whitesmoke;
}
/*******************************************************************************/
/* headings */
/*******************************************************************************/

h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  position: relative;
  right: 20px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.experience-heading {
  -display: inline-block;
}

.experience-subheading {
  -display: inline-block;
  font-weight: 200;
  font-size: 1rem;
}

.experience-heading,
.experience-subheading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*******************************************************************************/
/* main */
/*******************************************************************************/

.main {
  padding: 40px 30px 20px 30px;
  max-width: 800px;
  margin: 0 auto;
  max-width: 90ch;
  background-color: var(--main-color);
}

.main article {
  margin: 10px 0px 10px 0px;
  padding: 10px 30px 10px 30px;
  font-weight: 300;
}
article + article {
  border-top: solid var(--article-border) 1px;
  -border: var(--article-border);
}

-section {
  margin: 20px 0px 0px 0px;
}

/*******************************************************************************/
/* header-navigation*/
/*******************************************************************************/

/******************** header-main**************/
.main-group {
  font-size: 3.5rem;
}
.header {
  padding: 30px 20px;
  padding-top: 40px;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    var(--header-light) 10%,
    var(--header-medium) 40%,
    var(--header-dark) 100%
  );
  border: none;
  position: relative;
}
header p {
  padding-bottom: 10px;
}
.name {
  margin: 0 auto;

  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--name-light) 20%,
    var(--name-medium) 45%,
    var(--name-dark) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/*******************************************************************************/
/* navi*/
header > a {
  padding: 5px 60px 5px 60px;
  text-decoration: none;

  color: var(--nav-color);
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-list > a {
  padding: 5px 60px 5px 60px;
  text-decoration: none;
  font-weight: unset;
  font-weight: 100;
  color: var(--hire-nav-color);
}

header a:hover {
  -background-color: #ffffff1a;
  background-color: var(--header-hover);
  color: var(--header-hover-text);
  transition: 0.6s;
  transition-timing-function: ease-out;
}
.navi:focus {
  transition: 0.6s;
  transition-timing-function: ease-out;
}
/*******************************************************************************/
/* profession*/
.profession {
  font-size: 0.3em;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  margin-top: -60px;
}
.profession::after {
  content: "🤓";
  padding-left: 10px;
  font-size: 1.5em;
}

/*******************************************************************************/
/* hire-me*/
.hire {
  position: absolute;
  font-family: "Roboto", sans-serif;
  border: 1px solid;
  border-color: var(--hire-nav-color);
  background-color: var(--hire-background-);
  color: var(--hire-nav-color);
  right: 5px;
  top: 5px;
  width: 80px;
  height: 50px;
  margin: 5px;
}

/*******************************************************************************/
/* contact */
/*******************************************************************************/
#contact a:link {
  text-decoration: none;
}
#contact a:visited {
  text-decoration: none;
}
#contact a:hover {
  border-bottom: var(--article-border) solid 1px;
}
#contact a:active {
  color: var(--hire-nav-color);
  background-color: var(--header-light);
  border-radius: 10px 0px 10px 0px;
}
/*******************************************************************************/
/* footer */
/*******************************************************************************/
footer {
  height: 100vw;
  height: 100px;
  background-image: linear-gradient(
    90deg,
    var(--footer-light) 10%,
    var(--footer-medium) 50%,
    var(--footer-dark) 70%
  );
  color: vr(--hire-nav-color);
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************************************************************************/
/* media queries */
/*******************************************************************************/

@media print {
  .navi,
  .hire {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  article {
    max-width: 50ch;
  }
}

@media screen and (min-width: 786px) {
  article {
    max-width: 90ch;
  }
  section {
    margin: 30px 0px 0px 0px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .experience-heading,
  .experience-subheading {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .experience-heading {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.8rem;
  }

  article {
    font-size: 1.3rem;
    max-width: 90ch;
  }
  .navi {
    font-size: 1.3rem;
  }
  .hire {
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    width: 100px;
    height: 60px;
    padding: 0.4em;
    border-radius: 20px 0px 20px 0px;
  }
  li {
    margin: 0.3em;
  }
}
