* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  font-family: inherit;
}

body {
  margin: 0px;
  position: relative;
}

::selection {
  background-color: #7788996e;
  color: #f5f5f5;
}
/*******************************************************************************/
/* headings */

h1 {
  font-size: 50px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h2 {
  position: relative;
  right: 20px;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

a,
#subheading {
  font-family: "Roboto", sans-serif;
}

/*******************************************************************************/
/* main */

.main {
  padding: 40px 30px 20px 30px;
  max-width: 800px;
  margin: 0 auto;
}

.main article {
  margin: 10px 0px 10px 0px;
  padding: 10px 30px 10px 30px;
}
article + article {
  border-top: black solid 1px;
}

section {
  margin: 20px 0px 0px 0px;
}

/*******************************************************************************/
/* header-navigation*/

.name {
  color: rgb(37, 37, 37);
  color: #252525;
  margin: 0 auto;
}

.header {
  padding: 30px 20px;
  padding-top: 40px;
  -padding: 20px 30px 30px 30px;
  text-align: center;
  background-color: rgb(119, 137, 161);
  background-color: #778899;
  box-shadow: 0px 140px 100px -90px #30383f inset;
  border: none;
  position: relative;
}
header p {
  padding-bottom: 10px;
}
header > a {
  padding: 5px 60px 5px 60px;
  text-decoration: none;
  color: #f5f5f5;
}

header a:hover {
  background-color: #ffffff1a;
  color: #c5c6c7;
}

.hire {
  position: absolute;
  font-family: "Roboto", sans-serif;
  border: 1px solid whitesmoke;
  border: 1px solid #f5f5f5;
  background-color: rgb(119, 137, 161);
  background-color: #778899;
  color: whitesmoke;
  color: #f5f5f5;
  right: 5px;
  top: 5px;
  width: 80px;
  height: 50px;
  margin: 5px;
}

#subheading::after {
  content: "🤓";
  padding-left: 10px;
  font-size: 110%;
}
/*******************************************************************************/
/* contact */
#contact a:link {
  color: rgb(119, 137, 161);
  color: #778899;
  text-decoration: none;
}
#contact a:visited {
  color: #000000;
  text-decoration: none;
}
#contact a:hover {
  color: #000000;
  border-bottom: black solid 1px;
}
#contact a:active {
  color: #ffffff;
  background-color: #a1afbd;
  border-radius: 10px 0px 10px 0px;
}
